.page{
    color: #262626;
    // background-image: url('../img/background-texture.png');
    .page-description{
        font-size: 20px;
        width: 993px;
        margin: 0 auto 16px;
        @media (max-width: 993px){
            width: 100%;
        }
    }
    .badge{
        font-family: 'SairaCondensed';
        font-size: 20px;
        font-weight: 400;
    }
}