.price-plan-table{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    .price-plan-item{
        margin-bottom: 50px;
        width: 350px;
        padding: 20px;
        border-radius: 40px;
        &.pink{
            background: linear-gradient(to bottom left, #fc6d67, #e7137a);
        }
        &.purple{
            background: linear-gradient(to bottom left, #740391, #ea117a);
        }
        &.teal{
            background: linear-gradient(to bottom left, #00dec1, #01737d);
        }
        &.blue{
            background: linear-gradient(to bottom left, #19f3fd, #9b06ff);
        }
        &.orange{
            background: linear-gradient(to bottom left, #f9ae39, #e5147a);
        }
        &.crem{
            background: linear-gradient(to bottom left, #ffb180, #ff6c96);
        }
        &.blue-reverse{
            background: linear-gradient(to bottom left, #9b06ff, #19f3fd);
        }
        .price-plan-header{
            h3{
                color: #fff;
                text-align: center;
                font-family: "SairaCondensed";
            }
        }
        .price-plan-price{
            h2{
                background: #fff;
                color: #155b67;
                font-family: "SairaCondensed";
                display: inline-block;
                padding: 5px 20px;
                border-radius: 0px 10px 10px 0px;
                margin-left: -20px;
                border-left: 1px solid #ccc;
                box-shadow: 1px 4px 5px -1px #611e65db;
                span{
                    font-size: 20px;
                }
            }
        }
        .price-plan-content{
            padding: 0px 30px;
            p{
                color: #fff;
            }
        }
    }
}