.services-table{
    .service-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        .service-items{
            width: 48%;
            text-align: center;
        }
        .service-image{
            width: 48%;
            img{
                width: 100%;
            }
        }
    }
}