.bg-purple {
  background-color: #9610ff !important;
}

.bg-blue {
  background-color: #646cfe !important;
}

.btn-blue {
  background-color: #646cfe;
  color: #fff;
}

@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SairaCondensed";
  src: url("../fonts/SairaCondensed-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-stlyle: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-stlyle: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
footer {
  background: #1e1e1e;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-column-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .footer-column-wrapper .footer-column h4 {
  color: #fff;
  font-family: "SairaCondensed";
  font-weight: 600;
  border-bottom: 1px solid #fff;
}
footer .footer-column-wrapper .footer-column ul {
  list-style: none;
  -webkit-padding-start: 0px;
}
footer .footer-column-wrapper .footer-column ul li a {
  color: #fff;
}
footer .footer-column-wrapper .footer-column form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
footer .footer-column-wrapper .footer-column form .form-group:last-child {
  margin-bottom: 0px;
}
footer .footer-column-wrapper .footer-column form .form-group label {
  width: 20%;
}
footer .footer-column-wrapper .footer-column form .form-group input, footer .footer-column-wrapper .footer-column form .form-group textarea {
  width: 80%;
}
footer .footer-column-wrapper .footer-column form .form-group input[type=submit], footer .footer-column-wrapper .footer-column form .form-group textarea[type=submit] {
  width: 100%;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 993px) {
  .header {
    display: none;
  }
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
}
.header .header-wrapper .header-logo {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header-logo img {
  width: 100%;
  transform: translateY(30px) scale(2.5);
}
.header .header-wrapper .header-logo h1 {
  color: #fff;
  margin-bottom: 0px;
}
.header .header-wrapper .header-search {
  display: flex;
  align-items: center;
}
.header .header-wrapper .header-search form input {
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #e5e8eb;
  padding: 5px 20px;
}
.header .header-wrapper .header-navigator ul {
  display: flex;
  list-style: none;
  position: relative;
  margin-bottom: 0px;
}
.header .header-wrapper .header-navigator ul li {
  margin-right: 8px;
}
.header .header-wrapper .header-navigator ul li:last-child {
  margin-right: 0px;
}
.header .header-wrapper .header-navigator ul li:last-child a {
  border: none;
  text-shadow: none;
}
.header .header-wrapper .header-navigator ul li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  top: 0px;
  transition: 0.2s;
  border-radius: 10px;
}
.header .header-wrapper .header-navigator ul li a:hover, .header .header-wrapper .header-navigator ul li a.active {
  background: #fff;
  color: #262626;
}

.header-jumbo {
  padding: 80px;
  background-image: url("../img/jumbo-background.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}
.header-jumbo h1 {
  text-align: center;
  font-family: "SairaCondensed";
  font-weight: 800;
  font-size: 50px;
  line-height: 0.7;
  margin-bottom: 0px;
  color: #fff;
  text-shadow: 0px 0px 5px #262626;
}

.page {
  color: #262626;
}
.page .page-description {
  font-size: 20px;
  width: 993px;
  margin: 0 auto 16px;
}
@media (max-width: 993px) {
  .page .page-description {
    width: 100%;
  }
}
.page .badge {
  font-family: "SairaCondensed";
  font-size: 20px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
